# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# Eclipse/IntelliJ/VSCode
.classpath
.project
.settings/
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.log
*.tmp

# Gradle
.gradle/
build/
